/* import font in here */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap:100,200,300,400,500,600,700');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #563e6d;
}

/* -----images------- */
.image {
   max-width: 100%;
   height: auto;
   
}



/* -----------------------Nav---------------------------------- */
.navbar {
   padding: 0.8rem;
   width: 100%;
    
    
}

.navbar-nav li {
    padding-right: 20px;
  
}

.nav-link {
    font-size: 1.1em;
    
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}


/* ----------------------Jumbotron--------------------------------- */
.jumbotron {
    padding: 1rem;
    border-radius: 0;
    margin-bottom: 0;
}

.center{    
    margin: 0 auto;
    text-align: center;
}

.texttocenter{
    margin: 0 auto;    
    color:#563e6d;
}




/* ----------------------divider------------------------------------- */
.divider{
    background-color: #563e6d;
}

/* .padding {
    padding-bottom: 2rem; */
}
/*-------------------- about, membership, contact------------------- */
.about, .membership, .contact {
    width: 80%;
    margin: 0 auto;
    scroll-padding-top: 2rem;
    padding-left: 25px;
    padding-right: 25px;
}

.about hr, .membership hr, .contact hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}


/* ----------------------------footer--------------------------------- */
footer {
    background-color: #272033;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #272033;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}
/* ---------------------------Social media------------------------------- */
.fab {
    color: #d5d5d5;
}

/* ---------------------------media queries----------------------------- */



